<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
<link rel="stylesheet" type="text/css" href="font.css">
<link rel="stylesheet" type="text/css" href="headers.css">
<header class="header-bar">
	<div class="block">
		<nav class="nav-div">
			<div class="title-xi">

				<h1 class="title" onclick="window.location.href='/'">KimMinUk</h1>

				<div class="li-xiicon">

					<div class="all-header-li" onclick="window.location.href='/'">
						<i class="xi-home-o xicon-size"></i>
						<li class="_li">Home</li>
					</div>
					<div class="all-header-li" onclick="window.location.href='/About'">
						<i class="xi-profile-o xicon-size"></i>
						<li class="_li">About</li>
					</div>
					<div class="all-header-li" onclick="window.location.href='/Tags'">
						<i class="xi-tags xicon-size"></i>
						<li class="_li">Tags</li>
					</div>
					<div class="all-header-li" onclick="window.location.href='#Category'">
						<!--<i class="xi-view-list xicon-size"></i>-->
						<i class="fas fa-th-list xicon-size" style="font-size: 18px;"></i>
						<li class="_li">Category</li>
					</div>
					<div class="all-header-li" onclick="window.location.href='/Blog'">
						<i class="xi-browser-text xicon-size"></i>
						<li class="_li">Blog</li>
					</div>
					<div class="all-header-li">
						<i class="xi-brightness xicon-size xicon-check"></i>
					</div>

				</div>
			</div>
		</nav>
	</div>
</header>
<script type="text/javascript" src="headers.js"></script>